<div style='width:300px;text-align:right;margin:30px auto 0px auto'>

<form method="POST" action="/login/local">
<fieldset>
<legend>Login</legend>
<label for="email">Email:</label><input type="text" name="email"><br>
<label for="password">Password:</label><input type="password" name="password"><br>
<input type="submit" value="Login">
</fieldset>
</form>

</div>
