body {
    margin: 0 0 25px 0;
    padding: 0;
    background-color: #ddd;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
}

h1 {
    font-size: 28px;
    color: #000;
}

a  {
    color: #03c;
}
a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
}

#page {
    background-color: #ccc;
    width: 750px;
    margin: auto;
    padding: 0 0 0 0;
}

#content {
    background-color: white;
    border: 3px solid #aaa;
    border-top: none;
    padding: 25px;
    width: 500px;
}

#header {
    padding: 10px 75px 10px 75px;
}

#header h1, #header h2 {
    margin: 0
}
#header h2 {
    color: #888;
    font-weight: normal;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
    font-family: sans-serif;
    margin: 1.2em 0 0.6em 0;
}

p {
    line-height: 1.5em;
    margin: 1.6em 0;
}

#footer {
    clear: both;
    padding-top: 2em;
    text-align: center;
    /* padding-right: 160px; */
    font-family: sans-serif;
    font-size: 10px;
}

.message_error {
    color: #ff3333;
    padding: 5px;
    /* icon for red cross or warning triangle */
}

.message_ok {
    color: #339933;
    padding: 5px;
    /* icon for green tick */
}

.message_info {
    color: #3333ff;
    padding: 5px;
    /* icon for blue (i) */
}
